<div class="fixed-header">
    <mat-toolbar color="warn" flex="50" fxLayout="row" fxLayoutAlign="start center" class="mat-elevation-z2">
      <img type="image/x-icon" src="favicon.ico" style="margin: 12px" />
      <span style="color: white">Law App</span>
      <span class="example-fill-remaining-space"></span>
      <span style="margin-left:12px;margin-right: 12px">
        <button color="primary" mat-button href="#">SERVICES</button>
        <button color="primary" mat-button href="#">FAQ</button>
        <button color="primary" mat-button href="#">LOGIN/SIGNUP</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon color="primary">menu</mat-icon>
        </button>
        <mat-menu style="background-color: #101010;" #menu="matMenu" >
          <button mat-menu-item  *ngFor="let link of arraySideNav">{{link}}</button>
        </mat-menu>
      </span>
    </mat-toolbar>
  </div>
