<mat-card class="mat-elevation-z10" style="margin: 8px;background-color: white">
  <mat-card-header>
    <div class="row" style="width: 100%;align-content: center;">
      <mat-icon style="font-size: 3.5em;margin-right: 12px;color: black;width: auto">account_circle</mat-icon>
      <mat-card-title style="font-size:1.5em; font-weight: 400;width: auto;color: black">{{item.name}}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p style="word-wrap: break-word;overflow: hidden; height: 3em;line-height: 1.5em;font-size:1em;  text-overflow: ellipsis;font-weight: 300;color: gray ">
      {{item.about}} </p>
  </mat-card-content>

  <mat-card-footer>
    <button mat-raised-button style="background-color: teal;color: white ;font-size:1em;font-weight: 200;width: 40%;margin-left: 12px;margin-right: 12px;margin-top: 12px;;margin-bottom: 6px"
      href="#">Read More</button>
  </mat-card-footer>
</mat-card>
