<div class="container" style="padding-left: 100px; margin-top: 80px;height: 100%;width: 100%">
    <div class="col-md-10" style="height: 100%;width: 50%;padding: 20px">
      <div>
        <h1 style="color: lightgray">ABOUT US</h1>
        <mat-divider style="width: 100%;margin-bottom: 20px"></mat-divider>
        <p style="word-wrap: break-word;overflow: hidden;line-height: 1.5em;font-size:1.4em;  text-overflow: ellipsis;font-weight: 300;color: lightgray ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta neque libero, nec fringilla felis ornare et. Vestibulum
          pellentesque, orci sit amet ultrices porta, ipsum tellus sollicitudin dui, varius tincidunt erat purus in dui. Suspendisse
          id lorem mollis, hendrerit diam sed, vestibulum neque. Pellentesque id dolor non ante accumsan hendrerit hendrerit
          sed tellus. Nulla rutrum, ex eu facilisis posuere, sem ante aliquet leo, vitae dictum dolor dolor vel augue. Phasellus
          consectetur dolor dolor, sed imperdiet metus ultricies vitae. </p>
      </div>
    </div>
    <div class="col-md-2" style="height: 100%;width: 50%">
      <div class="image-about">
      </div>
    </div>
  </div>
