<div class="container-fluid" style="width: 320px">
  <mat-form-field style="width: 100%">
    <input matInput type="text" placeholder="Email/Mobile no">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%">
    <input matInput type="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
  </mat-form-field>

  <mat-radio-group >
    <mat-radio-button color="primary" style="margin-right: 20px;" value="1">
      <p style="font-weight: 50;font-size: 1em;font-style: normal;margin-top: 12px">Consumer</p>
    </mat-radio-button>
    <mat-radio-button color="primary" value="2">
      <p style="font-weight: 50;font-size: 1em;font-style: normal;margin-top: 12px">Lawyer</p>
    </mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button style="background-color: darkcyan;color: white ;font-size:1em;font-weight: 300;width: 100%;margin-top: 12px"
    href="#">Login</button>

  <div class="row" style=" margin-top: 16px;margin-bottom: 6px">
    <div class="col-md-5">
      <mat-divider style="margin-top: 8px"></mat-divider>
    </div>
    <div class="col-md-2">
      <p style="font-weight: 50;font-size: 1em;font-style: normal;">Or</p>
    </div>
    <div class="col-md-5">
      <mat-divider style="margin-top: 8px"></mat-divider>
    </div>
  </div>
  <button mat-raised-button style="background-color: #3b5998;color: white ;font-size:1em;font-weight: 300;width: 100%;" href="#">Login with Facebook</button>
  <button mat-raised-button style="background-color: #dd4b39;color: white ;font-size:1em;font-weight: 300;width: 100%;margin-top: 12px;"
    href="#">Login with Google</button>

  <div style=" margin-top: 8px;align-items: center" >
    <label style="font-weight: 50;font-size: 1em;font-style: normal">New user?</label>
    <a href="javascript:void(0);" (click)="openSignupDialog()">
      <u>Register here</u>
    </a>
  </div>
</div>
