<div class="banner-image">
  <div class="banner-text">
    <p style="font-size: 1.8em;font-weight: 100">Get Legal Advice From Experts</p>
    <h3 style="font-size: 3.5em;font-weight: 100">Where Law and Business Meet</h3>
  </div>
</div>

<div style="background-color: #404040;align-content: center;">
  <div class="container">
    <div style="padding-top: 20px;">
      <h2 style="width:100%;text-align: left;color: white">CORE PRACTICE AREAS</h2>
    </div>
    <mat-divider style="background-color: white;width: 100%;margin-bottom: 20px"></mat-divider>

    <div class="grid-container">
      <div *ngFor="let i of corePracticeArray">
        <app-core-practice-item [item]=i></app-core-practice-item>
      </div>
    </div>

    <div style="padding-top: 20px;">
      <h2 style="width:100%;text-align: left;color: white">OUR SERVICES</h2>
    </div>
    <mat-divider style="background-color: white;width: 100%;margin-bottom: 20px"></mat-divider>
    <div class="grid-container">
      <div *ngFor="let i of coreServicesArray">
        <app-core-practice-item [item]=i></app-core-practice-item>
      </div>
    </div>
  </div>
</div>

