<mat-card style="width: 100%;height: 15%;background-color: #101010">
  <mat-card-title style="font-size:1.8em; font-weight: 250;margin-top: 0.4%;width: fit-content;color: white">LAWYER SIGNUP</mat-card-title>
</mat-card>


<div class="container-fluid" style="width: 100%;height:fit-content;padding-top:2%;padding-bottom: 2%;padding-left:8%;padding-right: 8%">
  <div class="row">
    <div class="col-md-5">
      <input type="email" placeholder="Enter email" style="padding: 12px;width:100%;font-size: 1.2em">
    </div>

    <div class="col-md-5">
      <input type="password" placeholder="Enter password" style="padding: 12px;width:100%;font-size: 1.2em">
    </div>

    <div class="col-md-2">
      <button mat-raised-button color="accent" style="color:white;padding-top:6px;padding-bottom:6px;width: 100%">LOGIN</button>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #101010; width: 100%;height:fit-content;padding-top:2%;padding-bottom: 2%;padding-left:8%;padding-right: 8%">
  <div class="row">
  </div>
</div>
