.header-image {
  background-image: url('/assets/69372353-law-wallpapers.jpg');
  height: 50%;
  width: 100% ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
