<div class="container">
  <mat-card style="width: 60%;padding: 20px;margin-top: 10px">
    <form>
      <div class="form-group" style="width: 100%">

        <input class="form-control" type="text" style="background-color:  rgba(211, 211, 211, 0.1);color: white;width: 100%;padding-top: 20px;padding-bottom: 20px" class="form-control" id="title" placeholder="Enter topic title">
        <br>

        <div class="row">
          <div class="col-md-6">
            <select class="form-control" [(value)]="selectedCategory" style="background-color:  rgba(211, 211, 211, 0.1);color: white;width: 100%;font-weight: 200;height: 40px;">
              <option class="option">Category</option>
              <option  value="c1">Category 1</option>
              <option  value="c2">Category 2</option>
              <option  value="c3">Category 3</option>
            </select>
          </div>
          <div class="col-md-6">
            <select class="form-control" [(value)]="selectedCategory" style="background-color:  rgba(211, 211, 211, 0.1);color: white;width: 100%;font-weight: 200;height: 40px;">
              <option>SubCategory</option>
              <option value="c1">SubCategory 1</option>
              <option value="c2">SubCategory 2</option>
              <option value="c3">SubCategory 3</option>
            </select>
          </div>
        </div>
        <br>
        <textarea class="form-control" style="background-color:  rgba(211, 211, 211, 0.1);color: white;height: 120px;max-width: 100%;max-height: 120px" placeholder="Description"></textarea>

      </div>



    </form>
  </mat-card>
</div>
