<mat-card class="mat-elevation-z10" style="width: 100%;margin-top: 12px;margin-bottom:12px">
  <p style="word-wrap: break-word;overflow: hidden; font-size:1.3em;font-weight: 400;color: lightgrey ">
    {{queryData.title}}</p>
  <hr>
  <p style="word-wrap: break-word; overflow: hidden;font-size:1.1em;font-weight: 400;text-overflow: ellipsis;color: lightgrey ">
    {{queryData.category}} - {{queryData.subCategory}}</p>

    <mat-card-content>
    <p style="word-wrap: break-word;overflow: hidden; font-size:1.1em;  text-overflow: ellipsis;font-weight: 300;color: lightgrey ">
      {{queryData.description}} </p>
  </mat-card-content>

  <mat-card-footer>
    <button mat-button style="background-color:rgba(211, 211, 211, 0.1);color: white ;font-size:1em;font-weight: 200;margin-left: 24px;margin-right: 24px;margin-bottom: 20px"
      href="#">2 Replies</button>
  </mat-card-footer>
</mat-card>
