<div class="container-fluid" style="width: 320px">
  <mat-form-field style="width: 100%">
    <input matInput type="text" placeholder="Full Name">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%">
    <input matInput type="email" placeholder="Email Address">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%">
    <input matInput type="tel" placeholder="Mobile number">
  </mat-form-field>
  <br>
  <mat-radio-group [(ngModel)]="options" >
      <mat-radio-button color="primary" style="margin-right: 20px;" [value]="1" >
        <p style="font-weight: 50;font-size: 1em;font-style: normal;margin-top: 12px">Consumer</p>
      </mat-radio-button>
      <mat-radio-button color="primary" [value]="2" >
        <p style="font-weight: 50;font-size: 1em;font-style: normal;margin-top: 12px">Lawyer</p>
      </mat-radio-button>
    </mat-radio-group>
    <br>
  <mat-form-field style="width: 100%">
    <input matInput type="password" placeholder="Password">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 100%">
    <input matInput type="password" placeholder="Confirm Password">
  </mat-form-field>
  <div *ngIf="options==2">
  <button mat-raised-button id="btn_signup" style="background-color: darkcyan;color: white ;font-size:1em;font-weight: 300;width: 100%;margin-top: 12px"
    href="#">Signup</button>
</div>
</div>
