<div class="container-fluid" style="width: 320px">
  <form [formGroup]="signupForm">
    <mat-form-field style="width: 100%">
      <input matInput id="userName" formControlName="userName" type="text" placeholder="Full Name">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput id="email" formControlName="email" type="email" placeholder="Email Address">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput id="mobileNumber" formControlName="mobileNumber" type="tel" placeholder="Mobile number">
    </mat-form-field>
    <mat-radio-group formControlName="rgoptions" [(ngModel)]="option" >
      <mat-radio-button  color="primary" style="margin-right: 20px;" [value]="1">
        <p style="font-weight: 50;font-size: 1em;font-style: normal;margin-top: 12px">Consumer</p>
      </mat-radio-button>
      <mat-radio-button color="primary" [value]="2" >
        <p style="font-weight: 50;font-size: 1em;font-style: normal;margin-top: 12px">Lawyer</p>
      </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="option==2">
      <mat-form-field style="width: 100%">
        <input matInput id="registrationNumber" formControlName="registrationNumber" type="text" placeholder="Registration number">
      </mat-form-field>
    </div>
    <mat-form-field style="width: 100%">
      <input matInput id="password" type="password" placeholder="Password">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput id="confirmPassword" type="password" placeholder="Confirm Password">
    </mat-form-field>
    <button mat-raised-button id="btn_signup" style="background-color: darkcyan;color: white ;font-size:1em;font-weight: 300;width: 100%;margin-top: 12px"
      href="#">Signup</button>
  </form>
</div>
