<mat-card class="mat-elevation-z10" style="margin: 8px;">
  <mat-card-header>
    <mat-icon mat-card-avatar style="font-size: 3.5em;margin-right: 12px">account_circle</mat-icon>
    <mat-card-title style="font-size:1.5em; font-weight: 400;width: fit-content">{{item.name}}</mat-card-title>
    <mat-card-subtitle style="font-size:1em;font-weight: 300;width: fit-content">{{item.practiceTime}}</mat-card-subtitle>
    <mat-card-subtitle style="font-size:1em;font-weight: 300;width: fit-content">{{item.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="word-wrap: break-word; font-size:1em;font-weight: 300; ">
      {{item.about}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button class="mat-elevation-z2" style="margin-left:12px; margin-right: 6px">
      <mat-icon color="warn">favorite</mat-icon>
    </button>
    <button mat-icon-button class="mat-elevation-z2" style="margin-left:6px; margin-right: 6px">
      <mat-icon color="warn">thumb_up</mat-icon>
    </button>
    <button mat-icon-button class="mat-elevation-z2" style="margin-left:6px; margin-right: 12px">
      <mat-icon color="warn">thumb_down</mat-icon>
    </button>
  </mat-card-actions>

  <mat-card-footer>
    <button mat-raised-button style="background-color: teal;color: white ;font-size:1em;font-weight: 300;width: 90%;margin-left: 12px;margin-right: 12px;margin-top: 12px;;margin-bottom: 6px"
      href="#">Consult Online</button>
    <button mat-raised-button style="background-color: teal;color: white ;font-size:1em;font-weight: 300;width: 90%;margin-left: 12px;margin-right: 12px;margin-top: 6px;;margin-bottom: 12px"
      href="#">Book Appointment</button>
  </mat-card-footer>
</mat-card>
