@import "~@angular/material/theming";
@include mat-core();



$mat-black: (
  50: #111113,
  100: #111113,
  200: #111113,
  300: #111113,
  400: #111113,
  500: #111113,
  600: #111113,
  700: #111113,
  800: #111113,
  900: #111113,
  A100: #111113,
  A200: #111113,
  A400: #111113,
  A700: #111113,
  contrast: (
    50: #111113,
    100: #111113,
    200: #111113,
    300: #111113,
    400: #111113,
    500: #111113,
    600: #111113,
    700: #111113,
    800: #111113,
    900: #111113,
    A100: #111113,
    A200: #111113,
    A400: #111113,
    A700: #111113,
  )
);
$mat-white: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-white);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-black);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);
